.navbar {
    border-bottom: 1.5px solid white;
}

.nav-small {
    display: none;
}

.right-group {
    display: flex;
}

.container {
    max-width: 80%;
}

body {
    background-color: #222;
}

.help-container {
    display: flex;
    align-items: center;
}

button.btn {
    text-align: left;
}

@media screen and (max-width: 768px) {
    .nav-large {
        display: none;
    }

    .nav-small {
        display: flex;
        justify-content: space-between;
    }

    .navbar {
        border-bottom: none;
    }

    .nav-header-quote {
        display: none;
    }

    .container {
        max-width: 100%;
    }
  }