i {
  color: #148cd6;
}

nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 8vh;
  padding-left: 0.4rem;
  border-bottom: 1.5px solid white;
  background: linear-gradient(45deg, #222, #333);
  font-family: monospace;
}

.nav-right {
  display: flex;
}

.container {
  max-width: 80%;
}

body {
  background-color: #222;
}

.help-container {
  display: flex;
  align-items: center;
}

.card-header {
  padding-left: 10px;
}

button.btn {
  padding-left: 5px;
  text-align: left;
}

.navbar-brand {
  transition: 500ms ease;
}

.navbar-brand:hover {
  filter: invert(0.25);
}

.social-links {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 3rem;
}

.form-control {
  background: whitesmoke;
}

@media screen and (max-width: 850px) {
  nav {
    border-bottom: none;
  }

  .navbar-brand {
    font-size: 0.9rem;
  }

  .nav-header-quote {
    display: none;
  }

  .container {
    max-width: 100%;
  }

  h4 {
    font-size: 1.5rem;
  }
}
